<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail Page</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <header>
        <img id="logo"src="https://media.licdn.com/dms/image/C560BAQFN1Zq6Fp5DQQ/company-logo_200_200/0/1619504414182?e=2147483647&v=beta&t=z-ovdFmhG5xMVrFDMPwu8PAzHkA60s8cvsw7N6sPsrY" alt="Thathva Logo"/>
        <nav>
            <a class="nav-link"href="">Home</a>
            <a class="nav-link"href="">Login</a>
            <a class="nav-link"href="">Registration</a>
        </nav>
    </header>
    <section id="event-details">
        <div class="event-card2">
            <h1 class="event-title">{{event.event_title}}</h1>
            <p class="event-location">Location:{{event.event_location}}</p>
            <p class="event-date">Date:{{event.date}}</p>
            <form action="{% url 'eventdetail' event.pk %}" method="POST" class="apply-form">
            <h3>Register</h3>
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register" class="submit-btn">
            </form>
        </div>
    </section>
    <footer>
        <p>&copy;2024 Event Registration Website </p>
    </footer>
    
</body>
</html>